$color-primary-dark: #006769;
$color-primary: #40a578;
$color-accent-light: #9dde8b;
$color-accent-pale: #e6ff94;
$color-text-dark: #333333;
$color-text-light: #ffffff;
$color-bg-primary: #e6ff94;
$color-bg-secondary: #9dde8b;

* {
  box-sizing: border-box;
}
body,
#app {
  margin: 0;
}
